body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 72px;
  color: white;
  margin: 0px;
}

h2 {
  text-align: center;
  font-size: 64px;
  color: #007765;
}

p {
  font-size: 32px;
}

.container_width {
  box-sizing: border-box;
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
  margin-right: auto;
}


/* header */

.header {
  position: sticky;
  top: 0;
  background-color: #007765;
  font-size: 24px;
  color: white;
}

.header .container_width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header img {
  vertical-align: middle;
  height: 46px;
  width: 184px;
  padding: 20px 0;
}


/* PiperNet Is Here */

.pipernet_is_here {
  background-image: url("imgs/pipernetishere.png");
  background-size: cover;
  background-position: center center;
}

.pipernet_is_here h1 {
  padding: 160px 0;
}


/* The Problem */

.the_problem_div {
  background-color: #eeeeee;
  padding-top: 48px;
  padding-bottom: 92px;
}

.the_problem_div h2 {
  margin: 0;
}


/* We’re in this together! */

.supercomputer {
  background-image: url("imgs/supercomputer.png");
  background-size: cover;
  background-position: center center;
}

.supercomputer p {
  padding: 128px 159px;
  color: white;
  text-align: center;
  max-width: 893px;
}

.supercomputer p {
  font-size: 48px;
  margin: 0 auto 0;
}


/* Introducing PiedPiperCoin */

.pied_piper_coin_div {
  background-color: #ffffff;
}

.ppc_logo {
  float: left;
  width: 115px;
  height: 115px;
  padding-right: 48px;
}


/* The Team */

.the_team_div {
  background-color: #eeeeee;
  padding-top: 48px;
  padding-bottom: 94px;
}

.the_team_div figure {
  text-align: center;
  margin: 0;
  height: 283px;
  width: 350px;
}

.the_team_div .container_width {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.the_team_div h2 {
  margin: 0 0 32px;
}

.the_team_div h4 {
  font-size: 24px;
  color: #007765;
  font-weight: bold;
  margin: 12px 0 0;
}

.the_team_div h5 {
  font-size: 18px;
  color: #000000;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}

/* .the_team_div table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.the_team_div td {
  text-align: center;
  height: 283px;
  width: 350px;
} */

.the_team_div img {
  width: 168px;
  height: 168px;
}


/* Footer */

.footer {
  background-color: #333333;
}

.footer p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 48px 0 64px;
  margin: 0 auto 0 auto;
  max-width: 510px;
}